In [13]:
import numpy as np 
import pandas as pd

In [14]:
#impoing data set

In [15]:
df = pd.read_csv('AQI_Data.csv')

In [16]:
df

,City,Date,AQI,PM2.5,PM10,NO2,CO,O3,SO2
0,Delhi,2024-01-01,152,153,151,26.509131,1.581413,123.401530,25.062474
1,Delhi,2024-01-02,264,288,268,87.955853,1.242119,144.533790,5.926302
2,Delhi,2024-01-03,307,344,357,94.469744,0.101480,198.520196,32.786668
3,Delhi,2024-01-04,363,334,347,12.075618,1.097072,85.973585,7.099955
4,Delhi,2024-01-05,237,266,250,51.046299,1.591834,47.938019,28.140550
...,...,...,...,...,...,...,...,...,...
2557,Pune,2024-12-27,419,448,462,26.701714,1.553582,86.973954,44.263423
2558,Pune,2024-12-28,252,202,182,19.920962,1.599821,41.939484,20.545087
2559,Pune,2024-12-29,365,414,410,80.815702,1.919950,39.982167,22.646297
2560,Pune,2024-12-30,253,269,285,66.231614,0.611800,63.966705,10.580135
2561,Pune,2024-12-31,95,140,117,99.505459,0.122817,112.774765,30.814997

In [17]:
# the first five rown

In [18]:
df.head(5)

,City,Date,AQI,PM2.5,PM10,NO2,CO,O3,SO2
0,Delhi,2024-01-01,152,153,151,26.509131,1.581413,123.401530,25.062474
1,Delhi,2024-01-02,264,288,268,87.955853,1.242119,144.533790,5.926302
2,Delhi,2024-01-03,307,344,357,94.469744,0.101480,198.520196,32.786668
3,Delhi,2024-01-04,363,334,347,12.075618,1.097072,85.973585,7.099955
4,Delhi,2024-01-05,237,266,250,51.046299,1.591834,47.938019,28.140550

In [19]:
#the last five rows

In [20]:
df.tail(5)

,City,Date,AQI,PM2.5,PM10,NO2,CO,O3,SO2
2557,Pune,2024-12-27,419,448,462,26.701714,1.553582,86.973954,44.263423
2558,Pune,2024-12-28,252,202,182,19.920962,1.599821,41.939484,20.545087
2559,Pune,2024-12-29,365,414,410,80.815702,1.919950,39.982167,22.646297
2560,Pune,2024-12-30,253,269,285,66.231614,0.611800,63.966705,10.580135
2561,Pune,2024-12-31,95,140,117,99.505459,0.122817,112.774765,30.814997

In [21]:
#stats for each numeric column

In [22]:
df.describe()

,AQI,PM2.5,PM10,NO2,CO,O3,SO2
count,2562.000000,2562.000000,2562.000000,2562.000000,2562.000000,2562.000000,2562.000000
mean,277.635051,276.738486,275.988290,54.151115,1.037476,104.832673,27.746349
std,128.603738,131.015126,131.900856,25.744072,0.560294,54.878784,12.927527
min,50.000000,2.000000,-26.000000,10.036926,0.100100,10.045129,5.000524
25%,166.250000,165.000000,166.000000,32.025372,0.545341,58.169877,16.685076
50%,276.000000,274.500000,274.000000,53.606459,1.010095,104.345545,27.872017
75%,388.750000,388.000000,386.000000,76.322683,1.533300,152.515574,38.878445
max,499.000000,543.000000,559.000000,99.974242,1.999528,199.979607,49.976055

In [25]:
data = df[['City', 'AQI', 'PM2.5', 'PM10']].dropna().to_numpy()


cities = np.unique(data[:, 0])


result = {}
for city in cities:
    city_data = data[data[:, 0] == city][:, 1:].astype(float) 
    result[city] = {
        'Me AQI': np.mean(city_data[:, 0]),
        'Me PM2.5': np.mean(city_data[:, 1]),
        'Me PM10': np.mean(city_data[:, 2])
    }


for city, stats in result.items():
    print(f"City: {city}")
    print(f"  Mean AQI: {stats['Me AQI']}")
    print(f"  Mean PM2.5: {stats['Me PM2.5']}")
    print(f"  Mean PM10: {stats['Me PM10']}")

City: Bangalore
  Mean AQI: 279.54371584699453
  Mean PM2.5: 278.46994535519127
  Mean PM10: 277.75956284153006
City: Chennai
  Mean AQI: 274.3142076502732
  Mean PM2.5: 275.1393442622951
  Mean PM10: 273.26502732240436
City: Delhi
  Mean AQI: 279.1530054644809
  Mean PM2.5: 279.89890710382514
  Mean PM10: 279.3497267759563
City: Hyderabad
  Mean AQI: 280.3551912568306
  Mean PM2.5: 277.8251366120219
  Mean PM10: 276.45628415300547
City: Kolkata
  Mean AQI: 265.9016393442623
  Mean PM2.5: 264.6639344262295
  Mean PM10: 263.6448087431694
City: Mumbai
  Mean AQI: 287.7978142076503
  Mean PM2.5: 286.0464480874317
  Mean PM10: 286.6693989071038
City: Pune
  Mean AQI: 276.379781420765
  Mean PM2.5: 275.1256830601093
  Mean PM10: 274.77322404371586

In [25]:
np

array([['Delhi', '2024-01-01', 152, ..., 1.5814129005182616,
        123.40153000983253, 25.0624738784116],
       ['Delhi', '2024-01-02', 264, ..., 1.2421185223120967,
        144.53378978124863, 5.92630224331111],
       ['Delhi', '2024-01-03', 307, ..., 0.1014796550979272,
        198.5201962653313, 32.786667933247244],
       ...,
       ['Pune', '2024-12-29', 365, ..., 1.9199502637673944,
        39.982166634876506, 22.646296630226743],
       ['Pune', '2024-12-30', 253, ..., 0.6118002358851184,
        63.96670522364774, 10.580134758086414],
       ['Pune', '2024-12-31', 95, ..., 0.1228174098601018,
        112.77476452458674, 30.81499688970544]], dtype=object)

In [ ]:
np.

In [11]:
df['AQI'].mean()

277.6350507416081

In [12]:
df['PM2.5'].mean()

276.73848555815766

In [13]:
df['PM10'].mean()

275.9882903981265

In [14]:
df['AQI'].unique

<bound method Series.unique of 0       152
1       264
2       307
3       363
4       237
       ...
2557    419
2558    252
2559    365
2560    253
2561     95
Name: AQI, Length: 2562, dtype: int64>

In [15]:
n = df.iloc[:,[0,2]]

In [16]:
n

       City  AQI
0     Delhi  152
1     Delhi  264
2     Delhi  307
3     Delhi  363
4     Delhi  237
...     ...  ...
2557   Pune  419
2558   Pune  252
2559   Pune  365
2560   Pune  253
2561   Pune   95

[2562 rows x 2 columns]

In [28]:
k=pd.(n.groupby('City')['AQI'].mean())

SyntaxError: invalid syntax (3911195280.py, line 1)

In [29]:
di=dict(n.groupby('City')['AQI'].mean().sort_values(ascending=False))

In [34]:
li=list(di.keys())
print("highest average AQI values is ",li[0]," with values ",di[li[0]])
print(" lowest average AQI values is ",li[-1]," with valuesÂ ",di[li[-1]])

highest average AQI values is  Mumbai  with values  287.7978142076503
 lowest average AQI values is  Kolkata  with valuesÂ  265.9016393442623

In [26]:
k

City
Bangalore    279.543716
Chennai      274.314208
Delhi        279.153005
Hyderabad    280.355191
Kolkata      265.901639
Mumbai       287.797814
Pune         276.379781
Name: AQI, dtype: float64

In [21]:
k.max()

287.7978142076503

In [22]:
k.min()

265.9016393442623